<div class="Body Body-js">
    <div class="ComponentRow">
      <div class="Column size_50">
        <base-button size="small">Изменить</base-button>
      </div>

      <div class="Column size_50">
        <base-button size="small" theme="theme_red">Удалить</base-button>
      </div>
    </div> 

    <div class="ComponentRow">
      <div class="Column">
        <base-input></base-input>
      </div>
    </div>

    <div class="ComponentRow">
      <div class="Column size_80">
        <base-input></base-input>
      </div>

      <div class="Column size_20">
        <base-input></base-input>
      </div>

      <div class="Column size_20">
        <base-input></base-input>
      </div>
    </div>

    <div class="ComponentRow">
      <div class="Column size_50">
        <base-input></base-input>
      </div>

      <div class="Column size_50">
        <base-input></base-input>
      </div>

      <div class="Column size_50">
        <base-input></base-input>
      </div>
    </div> 
  
    <div class="ComponentRow">
      <div class="Column size_80">
        <base-input></base-input>
      </div>
      <div class="Column size_20">
        <base-input></base-input>
      </div>
    </div> 

    <div class="ComponentRow">
      <div class="Column">
        <base-input></base-input>
      </div>
    </div> 
  
    <div class="ComponentRow">
      <div class="Column size_50">
        <base-select label="Выбрать">
          <div slot="item">Элемент</div>
        </base-select>
      </div>
      <div class="Column size_50">
        <base-input></base-input>
      </div>
    </div> 
  
    <div class="ComponentRow">
      <div class="Column size_30">
        <base-input></base-input>
      </div>   
      <div class="Column size_30">
        <base-input label="Выбрать"></base-input>
      </div>  
      <div class="Column size_10">
        <base-color-picker></base-color-picker>
      </div>
    </div> 

    <div class="ComponentRow">
      <div class="Column size_30">
        <h1 class="ConfigTitle">пример</h1>
      </div>
      <div class="Column size_50">
        <base-input></base-input>
      </div>
    </div> 

    <div class="ComponentRow">
      <div class="Column size_50">
        <h1 class="ConfigTitle">пример</h1>
      </div>
      <div class="Column size_50">
        <h1 class="ConfigTitle">пример</h1>
      </div>
      <div class="Column size_50">
        <h1 class="SectionTitle">пример</h1>
      </div>
    </div> 

    <div class="ComponentRow">
      <div class="Column">
        <h1 class="SectionTitle">Длинный пример</h1>
      </div>
    </div> 

    <div class="ComponentRow">
      <div class="Column">
        <base-select label="Выбрать">
          <div slot="item">Элемент</div>
        </base-select>
      </div>
    </div>

    <div class="ComponentRow">
      <div class="Column">
        <h1 class="SectionTitle">Длинный пример</h1>
      </div>
    </div> 
</div>