<div class="Body Body-js">
    <div class="ComponentWrapper">
      <div class="directionInRow Col-2">
        <base-button size="small">Изменить</base-button>
        <base-button size="small" theme="theme_red">Удалить</base-button>
      </div>
    </div> 
  
    <div class="ComponentWrapper">
      <div class="directionInRow Col-2">
        <base-input></base-input>
        <base-input></base-input>
      </div>
    </div> 
  
    <div class="ComponentWrapper">
      <div class="directionInRow Col-2-8">
        <base-input></base-input>
        <base-input></base-input>
      </div>
    </div> 
  
    <div class="ComponentWrapper">
      <div class="directionInRow Col-8-2">
        <base-input></base-input>
        <base-input></base-input>
      </div>
    </div> 
  
    <div class="ComponentWrapper">
      <div class="directionInRow Col-2">
        <base-select label="Выбрать">
          <div slot="item">Элемент</div>
        </base-select>
        <base-input></base-input>
      </div>
    </div> 
  
    <div class="ComponentWrapper">
      <div class="directionInRow Col-2-2-1">
        <base-input></base-input>
        <base-input label="Выбрать"></base-input>
        <base-color-picker></base-color-picker>
      </div>
    </div> 
  
    <div class="ComponentWrapper">
      <div class="directionInRow Col-3">
        <base-input></base-input>
        <base-input></base-input>
        <base-input></base-input>
      </div>
    </div> 
  </div>